$black-100: rgb(0, 0, 0);
$black-200: rgb(10, 10, 10);
$black-300: rgb(20, 20, 20);
$black-400: rgb(30, 30, 30);
$black-500: rgb(40, 40, 40);
$black-600: rgb(50, 50, 50);
$black-700: rgb(60, 60, 60);
$black-800: rgb(70, 70, 70);
$black-900: rgb(80, 80, 80);

$white-100: rgb(175, 175, 175);
$white-200: rgb(185, 185, 185);
$white-300: rgb(195, 195, 195);
$white-400: rgb(205, 205, 205);
$white-500: rgb(215, 215, 215);
$white-600: rgb(225, 225, 225);
$white-700: rgb(235, 235, 235);
$white-800: rgb(245, 245, 245);
$white-900: rgb(255, 255, 255);

$red-100: rgb(241, 199, 199);
$red-200: rgb(228, 152, 152);
$red-300: rgb(214, 114, 114);
$red-400: rgb(201, 84, 84);
$red-500: rgb(187, 60, 60);
$red-600: rgb(174, 42, 42);
$red-700: rgb(161, 29, 29);
$red-800: rgb(147, 21, 21);
$red-900: rgb(134, 17, 17);
$red-1000: rgb(120, 15, 15);
$red-1100: rgb(107, 15, 15);
$red-1200: rgb(93, 17, 17);
$red-1300: rgb(80, 19, 19);
$red-1400: rgb(67, 21, 21);

$orange-100: rgb(241, 216, 199);
$orange-200: rgb(228, 184, 152);
$orange-300: rgb(214, 156, 114);
$orange-400: rgb(201, 133, 84);
$orange-500: rgb(187, 113, 60);
$orange-600: rgb(174, 97, 42);
$orange-700: rgb(161, 84, 29);
$orange-800: rgb(147, 74, 21);
$orange-900: rgb(134, 65, 17);
$orange-1000: rgb(120, 59, 15);
$orange-1100: rgb(107, 53, 15);
$orange-1200: rgb(93, 49, 17);
$orange-1300: rgb(80, 45, 19);
$orange-1400: rgb(67, 40, 21);

$yellow-100: rgb(241, 237, 199);
$yellow-200: rgb(228, 220, 152);
$yellow-300: rgb(214, 204, 114);
$yellow-400: rgb(201, 189, 84);
$yellow-500: rgb(187, 175, 60);
$yellow-600: rgb(174, 161, 42);
$yellow-700: rgb(161, 147, 29);
$yellow-800: rgb(147, 135, 21);
$yellow-900: rgb(134, 122, 17);
$yellow-1000: rgb(120, 110, 15);
$yellow-1100: rgb(107, 98, 15);
$yellow-1200: rgb(93, 86, 17);
$yellow-1300: rgb(80, 74, 19);
$yellow-1400: rgb(67, 62, 21);

$green-100: rgb(209, 241, 199);
$green-200: rgb(170, 228, 152);
$green-300: rgb(138, 214, 114);
$green-400: rgb(111, 201, 84);
$green-500: rgb(90, 187, 60);
$green-600: rgb(73, 174, 42);
$green-700: rgb(60, 161, 29);
$green-800: rgb(51, 147, 21);
$green-900: rgb(44, 134, 17);
$green-1000: rgb(39, 120, 15);
$green-1100: rgb(37, 107, 15);
$green-1200: rgb(35, 93, 17);
$green-1300: rgb(33, 80, 19);
$green-1400: rgb(32, 67, 21);

$aqua-100: rgb(199, 241, 215);
$aqua-200: rgb(152, 228, 181);
$aqua-300: rgb(114, 214, 153);
$aqua-400: rgb(84, 201, 129);
$aqua-500: rgb(60, 187, 109);
$aqua-600: rgb(42, 174, 93);
$aqua-700: rgb(29, 161, 80);
$aqua-800: rgb(21, 147, 69);
$aqua-900: rgb(17, 134, 61);
$aqua-1000: rgb(15, 120, 55);
$aqua-1100: rgb(15, 107, 50);
$aqua-1200: rgb(17, 93, 46);
$aqua-1300: rgb(19, 80, 42);
$aqua-1400: rgb(21, 67, 39);

$sky-100: rgb(199, 237, 241);
$sky-200: rgb(152, 220, 228);
$sky-300: rgb(114, 204, 214);
$sky-400: rgb(84, 189, 201);
$sky-500: rgb(60, 175, 187);
$sky-600: rgb(42, 161, 174);
$sky-700: rgb(29, 147, 161);
$sky-800: rgb(21, 135, 147);
$sky-900: rgb(17, 122, 134);
$sky-1000: rgb(15, 110, 120);
$sky-1100: rgb(15, 98, 107);
$sky-1200: rgb(17, 86, 93);
$sky-1300: rgb(19, 74, 80);
$sky-1400: rgb(21, 62, 67);

$blue-100: rgb(199, 204, 241);
$blue-200: rgb(152, 161, 228);
$blue-300: rgb(114, 126, 214);
$blue-400: rgb(84, 97, 201);
$blue-500: rgb(60, 75, 187);
$blue-600: rgb(42, 57, 174);
$blue-700: rgb(29, 45, 161);
$blue-800: rgb(21, 36, 147);
$blue-900: rgb(17, 30, 134);
$blue-1000: rgb(15, 27, 120);
$blue-1100: rgb(15, 26, 107);
$blue-1200: rgb(17, 26, 93);
$blue-1300: rgb(19, 26, 80);
$blue-1400: rgb(21, 26, 67);

$purple-100: rgb(214, 199, 241);
$purple-200: rgb(179, 152, 228);
$purple-300: rgb(149, 114, 214);
$purple-400: rgb(125, 84, 201);
$purple-500: rgb(105, 60, 187);
$purple-600: rgb(88, 42, 174);
$purple-700: rgb(75, 29, 161);
$purple-800: rgb(65, 21, 147);
$purple-900: rgb(58, 17, 134);
$purple-1000: rgb(52, 15, 120);
$purple-1100: rgb(47, 15, 107);
$purple-1200: rgb(44, 17, 93);
$purple-1300: rgb(40, 19, 80);
$purple-1400: rgb(37, 21, 67);

$pink-100: rgb(241, 199, 212);
$pink-200: rgb(228, 152, 176);
$pink-300: rgb(214, 114, 146);
$pink-400: rgb(201, 84, 121);
$pink-500: rgb(187, 60, 100);
$pink-600: rgb(174, 42, 84);
$pink-700: rgb(161, 29, 71);
$pink-800: rgb(147, 21, 61);
$pink-900: rgb(134, 17, 54);
$pink-1000: rgb(120, 15, 48);
$pink-1100: rgb(107, 15, 44);
$pink-1200: rgb(93, 17, 41);
$pink-1300: rgb(80, 19, 38);
$pink-1400: rgb(67, 21, 35);
